@use "../../sass/abstracts/variables";
@use "../../sass/abstracts/mixins";

// chat-from
.chat-form {
  display: flex;
  // margin: 0;
  padding: 0.5rem;
  background-color: variables.$surface-color;
  @include mixins.bottom-shadow;

  // z-index
  @include mixins.z-index("bottom-bar");

  // chat-form__input-control
  &__input-control {
    width: 100%;
    height: 3rem;
    border: 3px solid variables.$primary-color;
    border-radius: 0.25rem 0 0 0.25rem;
    padding-left: 0.5rem;
  }

  // chat-form__submit-btn
  &__submit-btn {
  }
}
