@use "../../sass/abstracts/variables";
@use "../../sass/abstracts/mixins";
@use "../../sass/base/typography";

.profile-dropdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &:hover {
    .profile-dropdown__content {
      display: block;
    }
  }

  //profile-dropdown__img-wrapper
  &__img-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }

  // profile-dropdown__img
  &__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: variables.$secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // profile-dropdown__name
  &__name {
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }

  // profile-dropdown__content
  &__content {
    display: none;
    background-color: variables.$surface-color;
    position: absolute;
    top: 1.75rem;
    right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
    // box-shadow
    @include mixins.surface-shadow;
  }

  // profile-dropdown__link
  &__link {
    width: 100%;
    height: 2.5rem;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: typography.$text-high-color;
    transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background-color: rgba($color: variables.$on-surface-color, $alpha: 0.04);
    }

    &:active {
      background-color: rgba($color: variables.$on-surface-color, $alpha: 0.12);
    }
  }
}
