.fl-search-form {
  margin: 0;
  padding: 0;
}

.fl-input-section {
  width: 100%;
  padding: 0 1rem;
  display: flex;
}

.fl-input-control {
  display: block;
  flex-grow: 1;
  height: 3rem;
  border: none;
  padding-left: 1rem;
  padding-right: 0.5rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
  }
}

.fl-search-btn {
  width: 3rem;
  height: 3rem;
  padding: 0 1rem 0 1rem;
  color: #000000;
  background-color: #6df9b3;
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-family: "Nunito", Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
