.signin-btn {
  min-width: 7.5rem;
  height: 2.25rem;
  padding: 0 1rem 0 1rem;
  color: #000000;
  background-color: #6df9b3;
  border: none;
  border-radius: 0.25rem;
  font-family: "Nunito", Helvetica, sans-serif;
  text-transform: uppercase;
}
